---
pageable: true
per_page: 1
---
<% wrap_layout :layout do %>

<h1><%= current_page.title %></h1>

<%= yield %>

<h3>Recent Entry</h3>
<ol>
  <% blog(blog_controller.name).articles[0...3].each do |article| %>
    <li>
      <% link_to article do %>
        <%= article.title %>
        <span><%= article.date.strftime('%b %e') %></span>
      <% end %>
    </li>
  <% end %>
</ol>
<% end %>

<ul>
    <li>
      <% prev_article = current_article.previous_article %>
        <% if prev_article %>
        <a href="<%= prev_article.url %>" rel="prev" title="Previous article: <%= prev_article.title %>"> Previous </a>
        <% end %>
    </li>
    <li>
      <% next_article = current_article.next_article %>
        <% if next_article %>
        <a href="<%= next_article.url %>" rel="next" title="Next article: <%= next_article.title %>"> Next </a>
         <% end %>
    </li>
  </ul>

