---
title: <%= @foldername %>

date: <%= @foldername %>

tags: test, testing, test 
---



<% find_images.each_slice(3) do |slice| %>
 
  <div class="row">

  <% slice.each do |image| %>

   <% photo = MiniExiftool.new(image, iptc_encoding: 'UTF8')
       filename = File.basename image 
       exiftime = photo.date
       if exiftime.present?
         timeobject = DateTime.strptime(exiftime, '%Y:%m:%d')
         prettytime = timeobject.strftime("%B %d, %Y")
        else
          prettytime = 'No Date'
        end
    %>

    <div class="col-md-4">
      <a href="images/<%=@foldername%>/<%= filename %>" 
        data-toggle="lightbox" 
        data-gallery="hopewell" 
        data-footer="<%= photo.description %>" 
        data-title="<%=prettytime%>">
        <img style="width:200px" src="images/<%=@foldername%>/<%= filename %>"/>
      </a>

      <ul>
      <li>
        Filename: <%= filename %>
      </li>
     
        <% @exifs.each do |exif_field| %>
          <li>
            <%= exif_field_builder(photo, exif_field) %>
          </li>
     
      <% end %>

      
      </ul>

    </div>
  <% end %>
</div>

<% end %>

