---
title: Blogs
---

<h1>Blog</h1>

<h2>Galleries</h2>
<ol>
  <% blog('gallery').articles[0...10].each do |article| %>
    <li>
      <% link_to article do %>
        <%= article.title %>
        <span><%= article.date.strftime('%b %e') %></span>
      <% end %>
    </li>
  <% end %>
  <li><%= link_to 'More', '/gallery/' %></li>
  <li><%= link_to 'RSS', '/gallery/feed.xml' %></li>
</ol>

<h2>Images</h2>
<ol>
  <% blog('images').articles[0...10].each do |article| %>
    <li>
      <% link_to article do %>
        <%= article.title %>
        <span><%= article.date.strftime('%b %e') %></span>
      <% end %>
    </li>
  <% end %>
  <li><%= link_to 'More', '/images/' %></li>
  <li><%= link_to 'RSS', '/images/feed.xml' %></li>
</ol>
